/* Actives styles */

.Actives {
  margin: 0 12px 12px 12px;
}
.Actives h2 {
  text-align: center;
}

.ActiveItems {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  height: 15vh;
  overflow: hidden scroll;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #898695, #F6F1F2) 0 0 0 4;
}
.ActiveItems div {
  margin: 4px;
}

#ActiveGroups {
  grid-area: groups;
}

#ActiveCallsigns {
  grid-area: calls;
}
