/* Actives styles */

.Actives {
  margin: 0 12px 12px 12px;
}
.Actives h2 {
  text-align: center;
}

.ActiveItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  height: 16vh;
  padding: 0 4px;
  overflow: hidden scroll;
}
.ActiveItems div {
  margin: 4px;
}

#ActiveGroups {
  grid-area: groups;
}

#ActiveCallsigns {
  grid-area: calls;
}
