/*
Common filters styles
*/

.Filters {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.Filter {
  color: #eee;
  font-size: 0.75rem;
  margin: 6px;
  padding: 1px 6px;
  background-color: #898695;
  border: 1px solid #898695;
  border-radius: 6px;
}
