/*
Header styles
*/

#Header {
  display: flex;
  align-items: baseline;
  color: #f6f1f2;
  background-color: #dd4b39;
  margin-bottom: 24px;
  padding: 0.5rem;
}

#Header .Title {
  flex: 1 1 auto;
  font-size: 1.25rem;
}

#Header .ConnectBtn {
  margin-right: 24px;
}
