/*
Common table styles
*/

table {
  /* table-layout: fixed; */
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid #898695;
}

/* thead tr {
  display: block;
} */

thead th {
  text-align: left;
  padding: 6px;
}

/* tbody {
  display: block;
  overflow: auto;
  height: 75vh;
  width: 100%;
} */

tbody td {
  padding: 6px;
}

tbody tr:nth-child(even) td {
  background-color: #fff;
}
