/*
Main app styles

Theme: http://colormind.io/bootstrap/
#f6f1f2 #de9e8e #dd4b39 #898695 #382d39
*/

* {
  box-sizing: border-box;
}

#App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "groups"
    "top-groups"
    "calls"
    "top-calls";
  margin: 72px 12px;
}

.Button {
  display: inline-block;
  color: #ffffff;
  background-color: hsl(0, 0%, 60%);
  border: none;
  border-radius: 3px;
  padding: 12px 24px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition:
    background-color 250ms ease-in;
}
.Button:hover {
  background-color: hsl(0, 0%, 65%);
}
.Button:focus {
  outline: none;
}

.Button.Primary {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.Button.Primary:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.Label {
  display: inline-block;
  color: #ffffff;
  background-color: hsl(0, 0%, 60%);
  border: none;
  border-radius: 6px;
  padding: 16px 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
}

.Label.Success {
  background-color: hsl(81, 33%, 43%);
}

.Label.Danger {
  background-color: hsl(4, 90%, 58%);
}

@media screen and (min-width: 1440px) {
  #App {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "groups calls"
      "top-groups top-calls";
  }
}
